body * {
    font-family: 'Montserrat';
    color:#191970;
}
h1 {
    font-size: 32px;
}
.container {
    padding-top: 30px;
    padding-bottom: 30px;
}

h2{
    font-size: 18px;
    opacity: 0.9;
    padding-bottom: 30px;
}
h3 {
    font-size: 13px;
    opacity: 0.9;
    color:crimson;
}
label {
    
    padding-bottom: 5px;
    font-size: 13px;
}
button,.col-auto, .mb-3 {
    margin-bottom:0!important;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* input, select{
    background-color: #eaf1f8!important;
} */

#isMezzogiorno {
    display: inline-block;
    background-color: #deebf7;
    border-radius: .25rem;
    padding: 0 .5em;
    margin-left: 1em;    
    font-size: 13px;
}
table, .carousel-inner {
    background-color: #fff;
    border-radius: .25rem;
    max-width: 685px;
    border: 1px solid;
    padding: 10px;
    box-shadow: 1px 1px 5px #c9cdd1;
}
.carousel-inner {
    padding: 20px 20px 40px;
    background-color:#deebf7;
    border-color:transparent;
}

#tax {
    margin-top: 30px;
}
 #disclaimer {
     max-width: 685px;
 }
 .btn:focus {
    outline: none;
    box-shadow: none;
  }
  .btn{
	box-shadow: none !important
}
#btnIrepfInfo {
    cursor: pointer;
}
.border-left {
    border-left: 2px solid #191970;
}
.btn {padding: 0px 0px 2px 3px;}
.fa {
    font-size: 14px;
}
.btn-primary {padding: 6px 12px;}
.collapsemeIrpef td:first-child {
    padding-left:20px;
}
.tooltip-inner {
    text-align: left;
}
.collapsemeIrpef{
    background-color: #deebf7;
}
.mobile-show{
    display: none;
}

.carousel-indicators {
    margin-bottom: 0;
}
.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #191970;
  }
  .btn-outline-secondary.active {
    color: #191970!important;
    background-color: #deebf7!important;
    border-color: #deebf7!important;
    font-size: 13px!important;
    padding: 4px 8px!important;
}
.btn-outline-secondary{    
    font-size: 13px!important;
    padding: 4px 8px!important;
    border-color: #deebf7!important;    
    color: #191970!important;
}
.btn-outline-secondary:hover {    
    background-color: #deebf7!important;
}
.border-none {
    border-color:transparent!important;
}
input {
    display:none;
}
.fa-exclamation-circle {
    color: crimson
}
.input-group-text {
    background-color: #deebf7!important;
}

@media only screen and (max-width: 685px) {
    body {
      font-size: 14px!important;
    }
    table {
        max-width: 100%!important;
    }  
    .mobile-hide {
        display: none;
    }
    .mobile-show{
        display: block!important;
        margin-bottom: 1rem;
    }
  }
  @media only screen and (max-width: 400px) {
    body, h6 {
      font-size: 13px!important;
    }
    table {
        max-width: 100%!important;
    }
    #warningComune {
        text-align:left!important;
    }
    #customComune {
        margin-left:0!important;
    }
    
  }